doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Imagenes
  body
    img(src='http://tinyurl.com/naruto-png', title='Imagen de Internet')
    img(src='http://tinyurl.com/naruto-png', width='120px')
    img(src='http://tinyurl.com/naruto-png', height='100')